body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
  }
  
  .home {
    text-align: left;
    margin-top: 300px;
    margin-left: 100px;
    position: relative;
  }
  
  .main-heading {
    font-size: 3em;
    color: #23355F;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .sub-heading {
    font-size: 1.5em;
    color: #6CC24A;
    margin-bottom: 30px;
  }
  
  .join-button {
    background-color: #000;
    color: #fff;
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .join-button:hover {
    background-color: #444;
  }
  