<%-include('./partials/header')%>
<nav class="navbar">
    <div class="navbar-container">
        <a href="#" class="logo">ZapCart</a>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Shop</a>
            <a href="#">Deals</a>
            <a href="#">Contact</a>
            <a href="#">About</a>
        </div>
        <div class="search-cart">
            <input type="text" placeholder="Search...">
            <a href="#" class="cart-icon"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="nav-links">
            <a href="/cart">cart</a>
            <a href="" id="loginnavbtn" >Login</a>
        </div>
    </div>
</nav>

    <div class="container" id="mycontainer">
        <div class="form-container sign-in">
            <form method="post" action=" ">
                <h2>SIGN IN</h2>
                <input type="name" placeholder="Name" name="fullname">
                <input type="email" placeholder="Email" name="email">
                <input type="password" placeholder="password" name="password">
                <button>SIGN IN</button>
                <a href="login">Already has Account then do Login</a>


            </form>
        </div>

        <div class="toggle-container">
                <div class="toggle">
                    <div class="toggle-right">
                        <h1>Welcome Back to ZapCart!</h1>
                        <p>Where Speed Meets Convenience.</p>
                        <p>
                        Log in to access exclusive deals and a cart full of surprises at ZapCart!
                        </p>

                    </div>
                    <div class="toggle-left">
                        <h1>Welcome Back!</h1>
                        <p>Enter your personal details to use all of site features</p>
                        <button class="hidden" id="signin">SIGN IN</button>
                    </div>
                </div>
        </div>
    </div>

</body>
</html>